@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome</h1>
    <p>This little web application is playground where I experiment with the Microsoft Graph SDK.</p>
</div>
